8frames_train/
activitynet_image/
8frames_train_broken/
activitynet_image_broken/
.env

echo '*.pyc
__pycache__/
*.csv

src/config.py' >> ~/20221373_YY/VLM-ExplainEval/.gitignore
er.name
nohup.out
*.json
